{% extends "base.html.twig" %}

{% block title %}
	Création d'un produit
{% endblock %}

{% block body %}
	<h1>Nouveau produit</h1>

	{{ form_start(formView) }}

	{{ form_errors(formView) }}

	<div class="row">
		<div class="col">
            <div class="form-group">
                {{ form_label(formView.name) }}
                {{ form_widget(formView.name, {'attr': {'class': 'form-control'}}) }}
            </div>

			<div class="form-group">
                {{ form_label(formView.short_description) }}
                {{ form_widget(formView.short_description, {'attr': {'class': 'form-control'}}) }}
            </div>
		</div>

		<div class="col">
		    <div class="form-group">
                {{ form_label(formView.price) }}
                {{ form_widget(formView.price, {'attr': {'class': 'form-control'}}) }}
            </div>

			<div class="form-group">
                {{ form_label(formView.category) }}
                {{ form_widget(formView.category, {'attr': {'class': 'form-control'}}) }}
            </div>
		</div>
	</div>

	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save"></i>
		Créer le produit
	</button>

	{{ form_end(formView) }}

{% endblock %}
